<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.binarybeast" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.login_activity"
            android:label="@string/title_activity_login_activity" >
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page" >
        </activity>
        <activity
            android:name=".view.Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".HubActivity"
            android:label="@string/title_activity_hub"
            android:parentActivityName=".view.login_activity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".view.FriendAdderActivity"
            android:label="Search Friend"
            android:parentActivityName=".view.MyMain" >
        </activity>
        <activity
            android:name=".view.MyMain"
            android:label="MyMain"
            android:theme="@style/Theme.AppCompat.Light" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".view.FriendDetail_activity"
            android:label="Friend Detail"
            android:parentActivityName=".view.MyMain" >
        </activity>
        <activity
            android:name=".view.InterestAddActivity"
            android:label="@string/title_activity_interest_add"
            android:parentActivityName=".view.MyMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.binarybeast.view.MyMain" />
        </activity>
        <activity
            android:name=".view.InterestListActivity"
            android:label="@string/title_activity_interest_list"
            android:parentActivityName=".view.MyMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.binarybeast.view.MyMain" />
        </activity>
    </application>

</manifest>
